<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EsocialBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="EsocialBinding1" />
                <binding name="EsocialBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="EsocialBinding3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apiesocial.vertech-it.com.br/vch-esocial/enviaintegra?wsdl"
                binding="basicHttpBinding" bindingConfiguration="EsocialBinding"
                contract="apiIntegra.EsocialService" name="EsocialBinding" />
            <endpoint address="https://apiesocial.vertech-it.com.br/vch-esocial/consultaintegra"
                binding="basicHttpBinding" bindingConfiguration="EsocialBinding2"
                contract="apiConsulta.EsocialService" name="EsocialBinding1" />
        </client>
    </system.serviceModel>
</configuration>