<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EsocialBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="EsocialBinding1"/>
                <binding name="Empregador_ServicoConsultarLoteEventos">
                    <security mode="Transport"/>
                </binding>
                <binding name="Empregador_ServicoConsultarLoteEventos1"/>
                <binding name="EsocialBinding2">
                    <security mode="Transport"/>
                </binding>
                <binding name="EsocialBinding3"/>
                <binding name="WsEnviarLoteEventos">
                    <security mode="Transport"/>
                </binding>
                <binding name="WsEnviarLoteEventos1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apiesocial.vertech-it.com.br/vch-esocial/consultaintegra" binding="basicHttpBinding"
                bindingConfiguration="EsocialBinding" contract="apiConsultaTXT.EsocialService" name="EsocialBinding"/>
            <endpoint address="https://apiesocial.vertech-it.com.br/vch-esocial/consultalote" binding="basicHttpBinding"
                bindingConfiguration="Empregador_ServicoConsultarLoteEventos" contract="apiConsultaXML.ServicoConsultarLoteEventos"
                name="Empregador_ServicoConsultarLoteEventos"/>
            <endpoint address="https://apiesocial.vertech-it.com.br/vch-esocial/enviaintegra?wsdl" binding="basicHttpBinding"
                bindingConfiguration="EsocialBinding2" contract="apiEnviaTXT.EsocialService" name="EsocialBinding1"/>
            <endpoint address="https://apiesocial.vertech-it.com.br/vch-esocial/envialote" binding="basicHttpBinding"
                bindingConfiguration="WsEnviarLoteEventos" contract="apiEnviaXML.ServicoEnviarLoteEventos" name="WsEnviarLoteEventos"/>
        </client>
    </system.serviceModel>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
</configuration>